.card-genres {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.col-genres {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}